workflows/github_to_notion.json
{
    "name": "github_to_notion",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "scan-intake",
                "responseMode": "lastNode",
                "options": {},
                "authentication": "header",
                "headerValue": "={{$env.N8N_WEBHOOK_SECRET}}",
                "headerName": "X-Webhook-Secret"
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "create",
                "databaseId": "2f33bfe8c6ec80faa2c2ebf9eb875647",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Scan ID",
                            "title": "={{$json.body.scan_id}}"
                        },
                        {
                            "key": "Token",
                            "type": "richText",
                            "textContent": "={{$json.body.token}}"
                        },
                        {
                            "key": "Verdict",
                            "type": "select",
                            "selectValue": "={{$json.body.verdict}}"
                        },
                        {
                            "key": "Confidence",
                            "type": "number",
                            "numberValue": "={{$json.body.confidence}}"
                        },
                        {
                            "key": "Reasons",
                            "type": "richText",
                            "textContent": "={{$json.body.reasons.join(', ')}}"
                        },
                        {
                            "key": "Recommendation",
                            "type": "richText",
                            "textContent": "={{$json.body.recommendation}}"
                        },
                        {
                            "key": "Timestamp",
                            "type": "date",
                            "date": "={{$json.body.timestamp}}"
                        }
                    ]
                }
            },
            "name": "Notion Log",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                300,
                300
            ],
            "credentials": {
                "notionApi": {
                    "id": "notion_main"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "workflowId": "signal_intake",
                "mode": "parameter",
                "dataToPass": "all",
                "options": {}
            },
            "name": "Execute signal_intake",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "message",
                            "value": "Signal received."
                        },
                        {
                            "name": "scan_id",
                            "value": "={{$node[\"Webhook\"].json.body.scan_id}}"
                        }
                    ]
                }
            },
            "name": "Final Confirmation",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "errorMessage": "Fail Closed: Notion write failed",
                "errorDescription": "Check credentials or Database ID"
            },
            "name": "Notion Error",
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [
                300,
                450
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Notion Log",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notion Log": {
            "main": [
                [
                    {
                        "node": "Execute signal_intake",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Notion Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute signal_intake": {
            "main": [
                [
                    {
                        "node": "Final Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}