workflows/github_to_notion.json
{
    "name": "github_to_notion",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "github-to-notion",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "create",
                "databaseId": "<PASTE_NOTION_DATABASE_ID_HERE>",
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Scan ID",
                            "title": "={{$json.body.scan_id}}"
                        },
                        {
                            "key": "Token",
                            "type": "richText",
                            "textContent": "={{$json.body.token}}"
                        },
                        {
                            "key": "Verdict",
                            "type": "select",
                            "selectValue": "={{$json.body.verdict}}"
                        },
                        {
                            "key": "Confidence",
                            "type": "number",
                            "numberValue": "={{$json.body.confidence}}"
                        },
                        {
                            "key": "Timestamp",
                            "type": "date",
                            "date": "={{$json.body.timestamp}}"
                        },
                        {
                            "key": "Reasons",
                            "type": "multiSelect",
                            "multiSelectValue": "={{$json.body.reasons}}"
                        }
                    ]
                }
            },
            "name": "Notion Create",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                450,
                300
            ],
            "credentials": {
                "notionApi": {
                    "id": "notion_main",
                    "name": "Notion Main"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "errorMessage": "Failed to persist to Notion",
                "errorDescription": "={{$json.message}}",
                "statusCode": 500
            },
            "name": "Error Handler",
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [
                650,
                450
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Notion Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notion Create": {
            "main": [
                [],
                [
                    {
                        "node": "Error Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}