workflows/signal_intake.json
{
    "name": "signal_intake",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "signal-intake",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.body.verdict}}",
                            "operation": "notEqual",
                            "value2": "SAFE"
                        }
                    ]
                }
            },
            "name": "Filter SAFE",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "list": "<PASTE_CLICKUP_LIST_ID_HERE>",
                "name": "⚠️ Scan Alert: {{$json.body.token}}",
                "content": "=Scan ID: {{$json.body.scan_id}}\nVerdict: {{$json.body.verdict}}\nConfidence: {{$json.body.confidence}}\n\nReasons:\n{{$json.body.reasons.join('\\n')}}\n\nRecommendation:\n{{$json.body.recommendation}}\n\nTimestamp: {{$json.body.timestamp}}"
            },
            "name": "ClickUp Create",
            "type": "n8n-nodes-base.clickUp",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "clickUpApi": {
                    "id": "clickup_main",
                    "name": "ClickUp Main"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "errorMessage": "Failed to create ClickUp task",
                "errorDescription": "={{$json.message}}",
                "statusCode": 500
            },
            "name": "Error Handler",
            "type": "n8n-nodes-base.stopAndError",
            "typeVersion": 1,
            "position": [
                850,
                450
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Filter SAFE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter SAFE": {
            "main": [
                [
                    {
                        "node": "ClickUp Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ClickUp Create": {
            "main": [
                [],
                [
                    {
                        "node": "Error Handler",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}